@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  min-height: 100dvh;
  background: linear-gradient(#615dad, #ffc8da);
  color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Lobster", sans-serif;
  font-weight: normal;
}

h1,
p {
  text-align: center;
}

.game {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.game__picture {
  border-radius: 10px 10px 0 0;
  max-width: 100%;
}

.game__body {
  background-color: #283e50;
  font-family: sans-serif;
}

.game__description {
  padding: 0 15px;
}

.game__buttons {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.game__buttons-rules,
.game__buttons-rules:link {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-bottom: 1px solid #283e50;
  background-color: #1fcca4;
}

.game__buttons-rules:hover {
  background-color: #1cbb96;
}

.game__buttons-begin,
.game__buttons-begin:link {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: #0197f6;
}

.game__buttons-begin:hover {
  background-color: #0090e9;
}

a {
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: 450px) {
  .game {
    width: 60%;
  }
}

@media (min-width: 500px) {
  .game {
    width: 50%;
  }
}

@media (min-width: 769px) {
  .game {
    width: 45%;
  }
}

@media (min-width: 1024px) {
  .game {
    width: 35%;
  }
}
