@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  min-height: 100dvh;
  background: linear-gradient(#615dad, #ffc8da);
  color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Lobster", sans-serif;
  font-weight: normal;
  font-size: 55px;
  text-align: center;
}

p {
  text-align: center;
  line-height: 1.5;
}

.game {
  display: flex;
  flex-direction: column;
  max-width: 375px;
}

.game2 {
  max-width: 80vmin;
  margin: -5vmin 0 2vmin 0;
  box-sizing: border-box;
}

.game__picture {
  border-radius: 10px 10px 0 0;
  max-width: 100%;
}

.game__body {
  background-color: #283e50;
  font-family: sans-serif;
}

.game__description {
  padding: 0 15px;
}

.game__buttons {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.game__buttons-rules,
.game__buttons-rules:link {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-bottom: 1px solid #283e50;
  background-color: #1fcca4;
  padding: 20px 0;
}

.game__buttons-rules:hover,
.game__options--buttons--home:hover {
  background-color: #1cbb96;
}

.game__buttons-begin,
.game__buttons-begin:link {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: #0197f6;
  padding: 20px 0;
}

.game__buttons-begin:hover,
.game__options--buttons--restart:hover {
  background-color: #0090e9;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.game__field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  border: solid 1px #283e50;
}


.game__field--square {
  width: 8vmin;
  height: 8vmin;
  border: 1px solid #283e50;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.game__field--square:hover,
.game__field--square:focus {
  background: rgba(255, 255, 255, 0.3);
}

.game__options {
  display: flex;
  justify-content: space-between;
  margin-top: -7vmin;
}

.game__options--state {
  display: flex;
}

.game__options--state img {
  margin-bottom: 5px;
}

.game__options--state p {
  margin-right: 5px;
  font-size: larger;
  font-weight: bolder;
  font-family: sans-serif;
}

.game__options--buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.game__options--buttons--home {
  background-color: #1fcca4;
  padding: 5px;
  border-radius: 3px;
  margin-right: 5px;
}

.game__options--buttons--restart {
  background-color: #0197f6;
  padding: 5px;
  border-radius: 3px;
}

@media (max-width: 450px) {
  .game {
    width: 85%;
  }

  .game2 h1 {
    font-size: 70px;
  }

  .game__field,
  .game__field--square {
    border: solid 1px black;
  }
}
